# build output
dist/
# generated types
.astro/
# dependencies
node_modules/
# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*
lerna-debug.log*

# environment
.env*
.vercel

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store